@model IEnumerable<Library_Management_System.Models.Member>

@{
    ViewBag.Title = "Index";
}

<h2 style="background-color: burlywood; text-decoration-color: initial; align-items: center; justify-content: center; padding-top: 25px; padding-left: 450px; color:maroon">Member Details</h2>

<p style="background-color:darkgray;font-size:20px; color:black; text-decoration-color:initial;  align-items : center; justify-content: center; padding-top: 25px; padding-left: 500px ">
    @Html.ActionLink("Create New", "Create", null, new { @style = "color:darkgreen" })
</p>
<table class="table" style="background-color: aquamarine; align-items: center; justify-content: center; padding-top: 25px; padding-left: 100px ">
    <tr>
        <th style="background-color: aliceblue; color: coral; font-size: 20px; text-decoration-color: initial; align-items: center; ">
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th style="background-color: aliceblue; color: coral; font-size: 20px; text-decoration-color: initial; align-items: center; ">
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th style="background-color: aliceblue; color: coral; font-size: 20px; text-decoration-color: initial; align-items: center; ">
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
